@page "/add-item"
@using Shopper.Components.Entity
@inject NavigationManager Navigation
@inject IItemsService itemsService
<h1>Add New Item</h1>
<div>
    <input type="text" class="form-control" placeholder="Item Name" @bind="newItem.Name" />
    <input type="text" class="form-control" placeholder="Genre" @bind="newItem.Genre" />
    <button class="btn btn-success" @onclick="SaveItem">Save</button>
    <button class="btn btn-secondary" @onclick="Cancel">Cancel</button>
</div>

@code {
    private ItemDto newItem = new ItemDto();

    private void SaveItem()
    {
        itemsService.AddItem(newItem,1);
        Navigation.NavigateTo("/edit-shopping-list");
    }

    private void Cancel()
    {
        Navigation.NavigateTo("/edit-shopping-list");
    }
}