@page "/edit-shopping-list"
@using Shopper.Components.Entity
@using Shopper.Components.Services
@inject NavigationManager Navigation
@inject IItemsService itemsService
<h1> Edit Shopping list</h1>
<div>
<button class="btn btn-primary" @onclick="NavigateToAddItem">Add new item</button>

</div>

<ul>
    @foreach (var item in shoppingList)
    {
        <li>
            <div @onclick="() => NavigateToModifyItem(item.Key)">
                <span>@item.Key.Name</span>
                <span>| rodzaj: @item.Key.Genre |</span>
                <span> szt.@item.Value</span>
            </div>
        <button @onclick="() => RemoveItem(item)">remove item</button>
        </li>
    }

</ul>

@code {

    protected Dictionary<ItemDto, int> shoppingList = new();
    protected List<ItemDto> items = new List<ItemDto>();
    protected override void OnInitialized()
    {
        shoppingList = itemsService.GetShoppingList();
        items = itemsService.GetSubmittedItems();
    }

    private void NavigateToAddItem()
    {
        Navigation.NavigateTo("/add-item");
    }

    private void NavigateToModifyItem(ItemDto item)
    {
        itemsService.SetItemToModify(item);
        Navigation.NavigateTo("/edit-item");

    }
    private void RemoveItem(KeyValuePair<ItemDto, int> item)
    {
        itemsService.RemoveItem(item.Key, item.Value);
    }
}
