@page "/edit-shopping-list"
@using Shopper.Core.Components.Dtos
@using Shopper.Services.Components.Dtos
@inject NavigationManager Navigation
@inject IItemsService itemsService
<h1> Edit Shopping list</h1>
<div>
<button class="btn btn-primary" @onclick="NavigateToAddItem">Add new item</button>

</div>

<ul>
    @foreach (var entity in items)
    {
        @foreach (var item in entity.Items)
        {
        <li>
            <div @onclick="() => NavigateToModifyItem(item)">
                <span>@item.Name</span>
                <span>| rodzaj: @item.Genre |</span>
                <span>  cena: @item.Price</span>
            </div>
        <button @onclick="() => RemoveItem(item)">remove item</button>
        </li>
        }
    }

</ul>

@code {

    protected List<ItemGroupDto> items = new();

    protected override async Task OnInitializedAsync()
    {
        items = await itemsService.GetItemsAsync();
    }

    private void NavigateToAddItem()
    {
        Navigation.NavigateTo("/add-item");
    }

    private void NavigateToModifyItem(ItemDto item)
    {
        itemsService.SetItemToModify(item);
        Navigation.NavigateTo("/edit-item");

    }
    private void RemoveItem(ItemDto item)
    {
        itemsService.RemoveItemAsync(item);
    }
}
