<Project>
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Configuration>Release</Configuration>

    <!-- Android -->
    <PlatformTarget>AnyCPU</PlatformTarget>
    <RuntimeIdentifier>android-arm64</RuntimeIdentifier>

    <!--APK -->
    <AndroidPackageFormat>apk</AndroidPackageFormat>

    <!-- (debug keystore) -->
    <AndroidKeyStore>False</AndroidKeyStore>

    <!-- Path -->
    <PublishDir>bin\Release\net8.0-android\publish\</PublishDir>
  </PropertyGroup>
</Project>
