<Project>
	<PropertyGroup>
		<PublishProtocol>FileSystem</PublishProtocol>
		<Configuration>Release</Configuration>

		<!-- Android -->
		<PlatformTarget>AnyCPU</PlatformTarget>
		<RuntimeIdentifier>android-arm64</RuntimeIdentifier>

		<!-- APK -->
		<AndroidPackageFormat>apk</AndroidPackageFormat>

		<!-- debug keystore -->
		<AndroidKeyStore>False</AndroidKeyStore>

		<!-- Custom output path -->
		<PublishDir>C:\Users\micha\Desktop\Shopper_releases\</PublishDir>
	</PropertyGroup>
</Project>
